<section class="contents row">
  <div class="has-text-centered">
    <h3 class="is-size-5">投稿する</h3>
    <%= form_with(model: @ramen_shop, local: true) do |form| %>
      <%= form.text_field :name, placeholder: "Nickname" %>
      <%= form.submit "SEND" %>
    <% end %>
  </section>